fastapi
uvicorn
pydantic[email]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
python-dotenv
requests
Faker
matplotlib
PyJWT
gunicorn
python-multipart
apscheduler
pytz
colorlog
b2sdk
blurhash-python 
asyncpg
brevo_python 
redis
imagekitio
opencv-python